.menu{
    position: static;
    margin:0px 0px 0px 0px;
    padding: 0px;
    background-color: #232323;

    &__line{
        &--bold{
            width: 100%;
            height: 2px;
            background-color: #424242;
            margin: 0px;
            padding: 0px;
            border: none;
        }

        &--thin{
            width: 100%;
            height: 1px;
            background-color: black;
            margin: 1px 0px 0px 0px;
            padding: 0px;
            border: none;
        }
    }
    
}

.sorting{
    position: static;
    margin:0px 0px 0px 0px;
    padding: 0px;
    display: flex;
    justify-content: space-between;

    &__genres{
        margin: 0px;
        display: flex;
        justify-content: start;
        flex-direction: row;
        width: fit-content;
        padding: 0px;

        li{
            list-style-type: none;
            margin: 20px 15px 20px 15px;
            color: #FFFFFF;
            position: relative;
        }

        li:hover{
            color: #F65261;
        }

        li:hover::after{
            content: "";
            position:absolute;
            bottom: -23px;
            width: 100%;
            height: 3px;
            left: 0px;
            background-color: #F65261;
        }
    }
}

.options{
    color: #FFFFFF;
    display: flex;
    align-items: center;

    &__text{
        margin: 0px;

        &--sorting{
            color: #a8a8a8;
            margin: 0px 13px 0px 30px;
        }
    }
}

.icon-arrow-down::before{
    color: #F65261;
    display: block;
    font-size: 7px;
    margin-left: 13px;
    margin-right: 4px;
}