.button{
    font-size: 20px;
    min-width: 180px;
    min-height: 57px;
    padding: 16px 57px;
    cursor: pointer;
    text-transform: uppercase;

    &--primary{
        background-color: #F65261;
        color: #FFFFFF;
        border: none;
        border-radius: 4px;
    }

    &--secondary{
        color: #F65261;
        border: #F65261 solid 1.5px;
        border-radius: 4px;
        background-color: transparent;
    }
}