.counter{
    margin: 0px;
}

.counter__text{
    color: #FFFFFF;
    font-size: 20px;
}

.counter__count{
    display: inline;
    font-weight: 700;
}

.counter__message{
    display: inline;
    font-weight: 500;
    margin-left: 4px;
}