.movie-card{
    max-width: 322px;
    margin-top: 25px;
    position: relative;

    &__description-container{
        display: flex;
        justify-content: space-between;
        margin: 22px 0px 0px 0px;
        align-items: center;
    }

    &__description{
        margin: 0px;
        color: #FFFFFF;

        &--title{
            font-size: 18px;
        }

        &--production-year{
            border: #97979786 1px solid;
            border-radius: 4px;
            padding: 5px 8px;
        }

        &--genre{
            margin: 8px 0px 0px 0px;
            opacity: 50%;
        }
    }

    &__context-menu{
        position: absolute;
        display: inline-block;
        margin-left: auto;
        background-color: #2A202D;
        border-radius: 50%;
        width: 36px;
        height: 36px;
        top:15px;
        right: 15px;
    }

    &__popupmenu_container {
        position: absolute;
        top:15px;
        right: 15px;
    }

    &__image{
        width: 322px;
        height: 455px;
    }

    &__image-container{
        background-color: #FFFFFF;
        margin: 0px;
        width: 322px;
        height: 455px;
        cursor: pointer;
    }
}

.icon-more-vertical::before{
    content: "\e905";
    color: white;
    display: block;
    font-size: 32px;
    padding-top: 1px;
    padding-left: 2px;
}