.sort-control {
    color: #FFFFFF;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 20px;

    &__text {
        margin: 0px;

        &--sorting {
            color: #a8a8a8;
            margin: 0px 13px 0px 30px;
        }
    }

    &__select-container {
        position: relative;
        align-items: center;
    }

    &__select {
        border: none;
        background-color: transparent;
        color: #FFFFFF;
        font-size: 20px;
        appearance: none;
        padding-right: 25px;

        &:focus {
            outline: none;
            border: none;
        }

        option {
            background-color: #232323;
            font-size: 20px;
            border: none;
            &:hover {
                box-shadow: 0 0 10px 100px #F65261 inset;
            }
        }
    }
}

.icon-arrow-down {
    position: absolute;
    right: 17px;
    top: -3px;

    &::before {
        content: "\e900";
        display: inline-block;
        width: 0;
        height: 0;
        color: #F65261;
        font-size: 7px;
    }
}