.banner {
    background: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;

    &::before{
        position: absolute;
        z-index: -1;
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background-image: url(../../../public/images/Banner.jpg);
        background-repeat: no-repeat;
        background-size: 1920px auto;
        background-position: center top;
    }
}

.background-image{
    position: absolute;
    z-index: -1;
}

.add-movie{
    margin: 20px 20px 0 60px;
    display: flex;
    justify-content: space-between;

    &__button {
        color: #F65261;
        background-color: rgba(96, 96, 96, 0.68);
        border: none;
        border-radius: 3px;
        width: 177px;
        height: 46px;
        font-size: 20px;
    }
}

.search-container{
    display: flex;
    align-items: center;
    width: 80%;
    align-self: center;
    flex-direction: column;
    margin-bottom: 70px;
    
    &__heading {
        display: inline-block;
        align-content: start;
        color: white;
        width: 100%;
    }
}