.drop-down-input{
    &__select-container{
        position: relative;
    }

    &__select {
        width: 100%;
        appearance: none;
    }

    &__appearance{
        position: absolute;
        right: 40px;
        top: 20px;
    
        &::before {
            content: "\e900";
            display: inline-block;
            width: 0;
            height: 0;
            color: #F65261;
            font-size: 16px;
        }

        &.rotated{
            right: 15px;
            transform: rotate(180deg);
        }
    }

    &__content-container{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    &__content {
        display: block;
        outline: #F65261 2px solid;
        background-color: #232323;
        border: none;
        border-radius: 4px;
        padding: 18px 16px;

        label {
            display: block;
        }
    }
}

