* {
    font-family: 'Montserrat';
    font-weight: 500;
}

@font-face {
    font-family: 'Montserrat';
    src: url("../public/fonts/static/Montserrat-Regular.ttf");
}

@font-face {
    font-family: 'icomoon';
    src: url("../public/fonts/icomoon/fonts/icomoon.eot");
    src: url("../public/fonts/icomoon/fonts/icomoon.ttf") format('truetype'),
      url("../public/fonts/icomoon/fonts/icomoon.woff") format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }

  [class^="icon-"],
  [class*=" icon-"] {

    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-feature-settings: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.app {
    &__divider {
        background-color: #888888;
        margin: 0px;
        padding: 0px;
        height: 10px;
        width: 100%;
        border: none;
    }
}