.input{
    color: #FFFFFF;
    font-size: 20px;
    border-radius: 4px;
    background-color: #323232;
    border: none;
    height: 57px;
    padding-left: 18px;
    box-sizing: border-box;
    
    &::placeholder{
        color: #FFFFFF;
        font-size: 20px;
        opacity: 30%;
    }

    &:focus {
        outline: #F65261 2px solid;
        border: none;
    }
}